@tailwind base;
    @tailwind components;
    @tailwind utilities;
    /* src/index.css */

/* Робимо так, щоб клік по полю відкривав календар по всій площі */
input[type="date"] {
  position: relative;
}

/* Приховуємо стандартну іконку календаря в Chrome/Edge/Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

/* Прибираємо стандартні відступи */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}